$primary-text-color: rgba(82, 85, 95, 0.7);
$secondary-text-color: #52555f;
$accent-color: #ff751d;
$accent-color-hover: #e98040;
$second-accent-color: #ffdac0;
$body-color: #f5f6fb;
$secondary-button-hover: #e3e4e9;
$green-color: #407946;
$red-color: #e53935;
$primary-white-color: #fff;
$primary-black-color: #000;
$input-color: #f6f7fb;
$input-text-color: #a6abb9;
$input-secontd-text-color: #c7ccdc;
