.mainContainer {
  background-color: black;
  display: flex;
  width: 500px;
  justify-content: flex-start;
  padding-left: 40px;
  top: 250px;
  right: -250px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputForm {
  width: 240px;
  height: 28px;
  padding: 0 20px 0 20px;
  border: solid 2px white;
  border-radius: 10px;
  transition: all 250ms linear;
  outline: none;
  background-color: black;
  &:not(:first-child) {
    margin-top: 20px;
  }
  &:hover {
    background-color: white;
    &::placeholder {
      color: black;
    }
  }
  &::placeholder {
    color: white;
    font-style: italic;
  }
}
.spanFormError {
  color: red;
}
.buttonContainer {
  margin: 30px 0 30px;
  display: flex;
  justify-content: center;
}
.buttonForm {
  width: 60px;
  height: 28px;
  background-color: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  transition: all 250ms linear;
  &:nth-of-type(2) {
    margin-left: 20px;
  }
  &:hover {
    background-color: white;
    color: black;
    border: none;
  }
}

label {
  margin-top: 20px;
  color: white;
}
