.editContent {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(133, 130, 130);

  display: flex;
  justify-content: center;
}
.button {
  margin: 0 10px 0 10px;
  border-radius: 5px;
  width: 10%;

}
.inputSearch {
  outline: none;
  padding: 5px 5px;
  font-weight: 400;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.143;
  width: 100%;
  &::placeholder {
    color: grey;
    font-style: italic;
  }
}
